@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding-left: 5%;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #f24996;
    text-align: center;
   
}

h2{
    font-size: 1.8em;
    font-family: cursive;
    color: rgb(80, 31, 238);
}

/* Style the list of skills */

.top-skill{
    color: #fff;

    text-shadow:
      0 0 7px rgb(180, 2, 162),
      0 0 10px rgb(180, 2, 162),
      0 0 21px rgb(180, 2, 162),
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff;
}

body {
    background-color: rgb(160, 160, 232);
    color: rgba(255, 102, 0, 0.789);
}